/* CSS File (e.g., App.css) */

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    margin: 20px; /* adjust as needed */
  
    /* Make scrollbar invisible */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .carousel-container::-webkit-scrollbar {
    /* WebKit */
    display: none;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 33.33%; /* for 3 items per view */
    scroll-snap-align: start;
    scroll-snap-stop: always;
   
  }
  